In [ ]:
def leitura(arquivo_excel):
    arquivo_excel = 'contatosMay.xlsx'
    df = pd.read_excel(arquivo_excel)
    df.to_excel(arquivo_excel, index=False)
    df =pd.DataFrame
    return df 
    display(df)

In [10]:
import pandas as pd

# arquivo_excel = 'contatosMay.xlsx'
# df = pd.read_excel(arquivo_excel)  

def leitura(arquivo_excel):
    arquivo_excel = 'contatosMay.xlsx'
    df = pd.read_excel(arquivo_excel) 
    display(df)
    
# def salvar_dados(nome, telefone):
#     # Nome do arquivo Excel
#     arquivo_excel = 'contatosMay.xlsx'
#     df = pd.read_excel(arquivo_excel) 
#     display(df)
    
leitura('contatosMay.xlsx')

            Nome       Telefone Mensagem Mensagem2
0    Luis Laynes  5541984988524      NaN       zap
1  Mayara Laynes  5541999800925    teste       zap
2       Cristian  5543996777718    teste       zap

: